.card {
  margin: 5px;
  padding: 10px;
  background-color: white;
  width: 100px;
  height: 140px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  justify-items: center;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.discard-card {
  margin: 5px;
  padding: 10px;
  background-color: white;
  width: 120px;
  height: 180px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  justify-items: center;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.suit {
  margin: 5px;
  font-size: 28px;
  display: flex;
  align-items: center;
}

.name {
  margin: 5px;
  font-size: 38px;
  font-weight: bold;
  font-family: sans-serif;
}

.card-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
}
